<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4279099/pexels-photo-4279099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div>
    <div class="d-flex justify-content-center">
      <h1>Cocktails</h1>
    </div>
  </div>
</div>
<div class="background">
  <%= link_to '+ New Cocktails', new_cocktail_path, class:"btn btn-primary", id:"add-button"%>
  <div class="container">
    <div class="">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail do %>

        <div class="col-md-4">
          <div class="card-drink">
            <% if cocktail.photo.attached? %>
              <div class="card-inside d-flex" style="background-image: url(<%= cl_image_path cocktail.photo.key %>)">
                <div class="photo-card">
                </div>
            <% else %>
              <div class="card-inside d-flex" style="background-color: black">
                <div class="photo-card">
                </div>
            <% end %>
            </div>
            <p class="card-text"><%= cocktail.name %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
